<div style="margin-top: 3%; display: flex; justify-content: center;">
    <button type="button" class="btn btn-primary"><a href="dashboard/upload" style="text-decoration: none; color: inherit;">Upload a Design</a></button>
</div>

<div class="row container-fluid" id="tshirt">
    {{#each designs as |design|}}
    {{!-- <input type="hidden" id="design-id" value="{{design.id}}" /> --}}
    <div class="col-md-3">
        <div class="card-placement">
            <div class="card" id={{design.cardId}} style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <div class="top-card">
                        <span>Uploaded:</span>
                        <span>5/18/2021</span>
                        <span>8:15PM</span>
                    </div>
                </ul>
                    <img src="{{design.image_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-middle">
                        <span>5</span>
                        <span>Cost ${{design.price}}</span>
                        <span><i class="bi bi-trash delete-btn" id={{design.id}}></i></span>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <div class="card-bottom">
                        <span><a href="#">View comments</a></span>
                        <span><i class="bi bi-chat-left-dots"></i></span>
                    </div>
                </ul> 
            </div>
        </div>
    </div>
    {{/each}}
</div>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>