{{!-- <h1 class="text-center">ALL EXISTING DESIGNS</h1> --}}

<div class="row container-fluid">
    {{#each designs as |design|}}
    {{!-- <input type="hidden" id={{design.id}} value={{design.id}} /> --}}
    <div class="col-md-3">
        <div class="card-placement">
            <div class="card" id={{design.id}} style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <div class="top-card">
                        <span>Posted by {{user.username}}</span>
                        <span>5/18/2021</span>
                        <span>8:15PM</span>
                    </div>
                </ul>
                    <img src="{{design.image_url}}" class="card-img-top" alt="...">
            </div>
        </div>
    </div>
    {{/each}}
</div>

